/* sky-sun */
:root {
  --main-color: #adf;
  --main-darker: #8cd;
  --main-faded: #bef;
  --alt-color: #ffa;
  --alt-darker: #dd8;
  --alt-faded: #ffc;
  --title-color: black;
  --text-color: black;
}
/* */


body {
  margin: 0pt auto 0pt auto;
  padding: 1in;
  width: 48in;
  height: 36in;
  border: 2pt solid black;
  display: flex;
  flex-flow: column nowrap;
  font-family: sans-serif; /* TODO */
}

header {
  text-align: center;
  margin-bottom: 0.5in;
  flex-grow: 0;
}

header .title {
  font-size: 120pt;
  margin: 0pt 0pt 16pt 0pt;
  padding: 0pt;
  color: var(--title-color);
}

header p.author {
  font-size: 72pt;
  display: inline-block;
  margin: 0pt 30pt 0pt 30pt;
  padding: 0pt;
}

.body {
  width: 100%;
  margin: 0pt;
  padding: 0pt;
  display: flex;
  flex-grow: 1;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  font-size: 40pt;
  line-height: 130%;
  text-align: justify;
}

.body .smaller {
  font-size: 34pt;
}

.body>div {
  padding: 0pt 0.5in 0.5in 0.5in;
  margin: 0pt;
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 1pt;
}

/*
.body>div:first-child {
  border-right: 4pt solid black;
}

.body>div:last-child {
  border-left: 4pt solid black;
}
*/

.body>div p {
  margin-top: 0pt;
  margin-bottom: 24pt;
}

.body h1 { font-size: 64pt; font-weight: bold; margin: 12pt 0pt 24pt 0pt; }
.body h2 { font-size: 52pt; font-weight: bold; margin: 12pt 0pt 24pt 0pt; }
.body h3 { font-size: 47pt; font-weight: bold; margin: 10pt 0pt 20pt 0pt; }
.body h4 { font-size: 44pt; font-weight: bold; margin: 10pt 0pt 20pt 0pt; }
.body h5 { font-size: 43pt; font-weight: bold; margin: 8pt 0pt 16pt 0pt; }
.body h6 { font-size: 42pt; font-weight: bold; margin: 8pt 0pt 16pt 0pt; }

.body ul, .body ol {
  margin: 32pt 0pt 32pt 0pt;
  padding-left: 56pt;
}

.body ul ul, .body ol ol, .body ul ol, .body ol ul {
  margin: 0pt;
}

.body li {
  margin: 16pt 0pt 16pt 0pt;
}

.fig {
  text-align: center;
  display: block;
  margin: 24pt 0pt 24pt 0pt;
  font-size: 36pt;
}

.block {
  border-radius: 24pt;
  border-width: 4pt;
  border-style: none;
  padding: 24pt;
  margin: 0pt 0pt 24pt 0pt;
}

.block h1 {
  color: var(--text-color);
  background-color: var(--main-color);
  border-radius: 24pt;
  padding: 24pt;
  border-bottom: 8pt solid var(--main-darker);
  border-right: 8pt solid var(--main-darker);
}

.alt h1 {
  background-color: var(--alt-color);
  color: var(--text-color);
  border-bottom: 8pt solid var(--alt-darker);
  border-right: 8pt solid var(--alt-darker);
}
